@charset "utf8";
@import "commun.css";

:root {
    --epaisseur-traits: 10px;

    /* "Thème" de l'article */
    /* des valeurs par default pour l'instant */
    --couleur: var(--vert-clair);
    --couleur2: var(--vert-fonce);
    --img-fond: url("../img/image-ecologie2.jpg");
}

body {
    /* width: 100%; */
    /* height: 50vh; */

    /* BUG: l'image saute sur mobile
    reparation: https://css-tricks.com/the-fixed-background-attachment-hack/#aa-lets-fix-it */
    background-image: var(--img-fond);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--coul-nav);
    color: white;

    /* padding: 1em; */

    font-size: 1.1em;

    /* TEST: rend la navbar collante en haut de la page */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav > a {
    text-decoration: none;
    font-size: 1.5em;
}

/* Les éléments de base */
a:not([class]) {
    text-decoration: none;
    color: var(--couleur);
}

a:not([class]):visited {
    color: var(--couleur);
}

a:not([class]):active { /* pour éviter que le logo soit visé */
    color: var(--couleur2);
}

a:not([class]):hover {
    text-decoration: underline;
}

q::before {
    content: "« ";
}

q::after {
    content: " »";
}

/* ----------- Le menu... ---------------*/
/* NOTE pour créer un menu/sous-menu responsive:
*    - https://t.ly/hvbu (remplacer le js par un input:cheched)
*    - https://t.ly/O8Or (inspi pour le :checked)
*/
nav > ol {
    display: flex;
    /* gap: 1.5em; */

    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Les conteneurs des éléments du menu */
nav > ol > li {
    display: flex;
    align-items: center;

    position: relative;

    cursor: default; /* Pour eviter d'afficher le curseur de surlignage */
}

/* Les textes des éléments du menu */
nav > ol > li > span {
    padding: 1em;
}

/* Effet sur le texte des éléments du menu */
nav > ol > li:hover span {
    background-color: var(--coul-nav-hover);
}

/* Les séparateurs entres les elements du menu */
nav > ol > li:not(:last-child)::after {
    content: "";

    width: 2px;
    height: 60%;

    background-color: white;
}

/* Sous menu */
nav > ol ol {
    position: absolute;

    top: 100%;
    right: 0;

    padding: 0;
    list-style-type: none;

    width: max-content;

    background-color: white;
    color: black;
    box-shadow: var(--ombre);

    visibility: hidden;

    transition-property: visibility, transform, opacity;
    transition: 0.4s ease-in-out;
    transform: translateY(50%);
    opacity: 0;
}

/* Pour afficher le sous menu */
nav > ol > li:hover ol {
    visibility: visible;

    transform: translateY(0);
    opacity: 1;
}

/* Conteneurs des élements du sous menu */
nav > ol ol > li {
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Contenu du sous menu */
nav ol > li > a {
    display: block;
    padding: 1em;

    color: black !important;
    text-decoration: none !important;
}

/* Effet sur les éléments du sous menu */
nav > ol ol > li:hover {
    background-color: rgb(216, 216, 216);
}

/* Le conteneur de la page */
.page {
    width: 70%;
    margin: 0 auto;
}

.page p {
    margin: 0 1.5em;

    line-height: 1.6;
}

header {
    background-color: var(--coul-header);

    margin-top: 5em;
    padding: 1em 1.5em;
}

/* Le petit paragraphe d'introduction */
header > p {
    display: inline-block;
    padding: 1em;
    background-color: white;

    max-width: 70%;
    
    border-color: var(--couleur);
    border-width: var(--epaisseur-traits);
    border-left-style: solid;
}

h1 {
    /* font-size: 4em; */
    font-size: var(--step-5);
}

/* Le mot en couleur */
h1 > span {
    color: var(--couleur);
}

h2 {
    /* font-size: 2.5em; */
    font-size: var(--step-4);
    /* color: var(--vert-fonce); */
}

/* Le petit trait en dessous des sous-titres */
h2::after {
    content: "";
    display: block;

    width: 50px;
    height: var(--epaisseur-traits);
    margin-top: 5px;
    margin-left: 5px;;

    background-color: var(--couleur);
}

main {
    background-color: white;

    padding: 1.5em;
}