@charset "utf8";
@import "commun.css";

:root {
    --epaisseur-traits: 10px;

    /* "Thème" de l'article */
    /* des valeurs par default pour l'instant */
    --couleur: var(--vert-clair);
    --couleur2: var(--vert-fonce);
    --img-fond: url("../img/eco-fond.jpg");
}

body {
    /* width: 100%; */
    /* height: 50vh; */

    /* BUG: l'image saute sur mobile
    reparation: https://css-tricks.com/the-fixed-background-attachment-hack/#aa-lets-fix-it */
    background-image: var(--img-fond);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--coul-nav);
    color: white;

    /* padding: 1em; */

    font-size: var(--step-1);

    /* TEST: rend la navbar collante en haut de la page */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav > a {
    text-decoration: none;
    font-size: var(--step-3);
}

/* Les éléments de base */
a:not([class]) {
    text-decoration: none;
    color: var(--couleur);
}

a:not([class]):visited {
    color: var(--couleur);
}

a:not([class]):active { /* pour éviter que le logo soit visé */
    color: var(--couleur2);
}

a:not([class]):hover {
    text-decoration: underline;
}

q::before {
    content: "« ";
}

q::after {
    content: " »";
}

/* ----------- Le menu... ---------------*/
/* NOTE pour créer un menu/sous-menu responsive:
*    - https://t.ly/hvbu (remplacer le js par un input:cheched)
*    - https://t.ly/O8Or (inspi pour le :checked)
*/
nav > ol {
    display: flex;
    /* gap: 1.5em; */

    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Les conteneurs des éléments du menu */
nav > ol > li {
    display: flex;
    align-items: center;

    position: relative;

    cursor: default; /* Pour eviter d'afficher le curseur de surlignage */
}

/* Les textes des éléments du menu */
nav > ol > li > span {
    user-select: none; /* pour empêcher les utilisateurs mobiles de sélectionner le texte */
    padding: 1em;
}

/* Animation slash sur les éléments du menu TODO */
.barre {
    position: absolute;

    visibility: hidden;
    
    width: 0;
    height: 0.08em;

    margin-top: 2em;

    background-color: white;

    transition: all 1s var(--cb-bz);
}

nav ol li:nth-child(3) div {
    margin-left: 2.6em;
}

nav ol li:nth-child(2) div {
    margin-left: 2.3em;
}

nav ol li:nth-child(1) div {
    margin-left: 2.2em;
}

nav > ol > li:hover .barre {
    visibility: visible;
    width: 5.5em;
}

@media (max-width: 700px) {
    nav .barre {
        margin-left: 1em;
        margin-top: 3.2em;
    }
}

/* Effet sur le texte des éléments du menu */
nav > ol > li:hover span {
    background-color: var(--coul-nav-hover);
}

/* Les séparateurs entres les elements du menu */
nav > ol > li:not(:last-child)::after {
    content: "";

    width: 2px;
    height: 60%;

    background-color: white;
}

/* Sous menu */
nav > ol ol {
    position: absolute;

    top: 100%;
    right: 0;

    padding: 0;
    list-style-type: none;

    width: max-content;

    background-color: white;
    color: black;
    box-shadow: var(--ombre);

    visibility: hidden;

    transition-property: visibility, transform, opacity;
    transition: 0.4s ease-in-out;
    transform: translateY(50%);
    opacity: 0;
}

/* Pour afficher le sous menu */
nav > ol > li:hover ol {
    visibility: visible;

    transform: translateY(0);
    opacity: 1;
}

/* Conteneurs des élements du sous menu */
nav > ol ol > li {
    transition: background-color 1s var(--cb-bz);
}

/* Contenu du sous menu */
nav ol > li > a {
    display: block;
    padding: 1em;

    color: black !important;
    text-decoration: none !important;
}

/* Effet sur les éléments du sous menu */
nav > ol ol > li:hover {
    background-color: rgb(216, 216, 216);
}

/* Le conteneur de la page */
.page {
    width: 70%;
    margin: 0 auto;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.page p {
    margin: 0 1.5em;

    line-height: 1.6;
}

/* Ajout d'un espace entre les paragraphes */
.page p:not(:last-of-type) {
    margin-bottom: 1em;
}

header {
    background-color: var(--coul-header);

    margin-top: 5em;
    padding: 1em 1.5em;
    padding-bottom: 3em;
}

/* Le petit paragraphe d'introduction */
header > p {
    display: inline-block;
    padding: 1em;
    background-color: white;

    max-width: 70%;

    border-color: var(--couleur);
    border-width: var(--epaisseur-traits);
    border-left-style: solid;
}

h1 {
    font-size: var(--step-5);
}

/* Le mot en couleur */
h1 > span {
    color: var(--couleur);
}

h2 {
    font-size: var(--step-4);
}

/* Le premier sous-titre de l'article */
main section:first-child > h2:first-child {
    margin-top: 0;
}

/* Le petit trait en dessous des sous-titres */
h2::after {
    content: "";
    display: block;

    width: 50px;
    height: var(--epaisseur-traits);
    margin-top: 5px;
    margin-left: 5px;;

    background-color: var(--couleur);
}

main {
    background-color: white;

    padding: 1.5em;
    padding-top: 3em;
}

/* Le séparateur à la fin de l'article */
hr {
    margin: 2em auto;
    width: 80%;
    background-color: var(--couleur);
}

/* Le conteneur des boutons pour passer d'une page a l'autre */
.navig-pages {
    display: flex;
    justify-content: space-around;

    padding: 0 1em;
    margin-bottom: 2em;
}

/* Les bouttons pour passer d'une page a l'autre */
.navig-pages a {
    text-decoration: none;
    text-align: center;

    padding: 1em;

    border: 5px solid var(--couleur);
    box-shadow: 0 0 2px rgba(17, 17, 26, 0.1);

    color: white;
    background-image: linear-gradient(90deg, var(--couleur) 50%, white 50%);
    background-size: 200% 100%;
    transition: all 1s var(--cb-bz);
}

.navig-pages span {
    position: relative;
}

.navig-pages .avant ::before,
.navig-pages .apres ::after {
    font-weight: bold;

    position: absolute;
    top: 0;

    opacity: 0;
    transition: all 1s var(--cb-bz);
}

.navig-pages .avant:hover ::before,
.navig-pages .apres:hover ::after {
    opacity: 1;
}

/* Le boutton pour aller à la page précedente */
.navig-pages .avant ::before {
    content: "«";
    left: -1.1em;
}

.navig-pages .avant:hover {
    color: black;
    background-position: 100%;

    padding-left: 1.5em;
    padding-right: 0.5em;
}

/* L'autre boutton */
.navig-pages .apres ::after {
    content: "»";
    right: -1.1em;
}

.navig-pages .apres:hover {
    color: black;
    background-position: -100%;

    padding-right: 1.5em;
    padding-left: 0.5em;
}
