@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    /* Polices */
    --police-titres: "Work Sans", sans-serif;
    --police-texte: "Merriweather", serif;

    /* Couleurs d'accent */
    --orange-fonce: rgb(242, 127, 52);
    --orange-clair: rgb(249, 160, 63);
    --jaune: rgb(243, 192, 83);
    --vert-clair: rgb(148, 179, 61);
    --vert-fonce: rgb(121, 148, 49);

    /* Couleurs de fond */
    --coul-boite-accueil: rgba(71, 55, 55, 0.473);
    --coul-header: rgba(128, 128, 128, 0.33);
    --coul-nav: rgb(51, 51, 51);
    --coul-nav-hover: rgb(44, 43, 43);

    /* Misc. */
    --ombre: 1px 10px 34px 10px rgba(0,0,0,0.51);

    /* ---- Tailles fluides
    * L'idée est de créer des tailler de texte qui d'adaptent en fonction
    * de la taille de l'écrant, par ex un titre va s'afficher en plus grand
    * sur un ecran plus grand, et retrecir tant que l'écran rétréci
    *
    * Source: https://utopia.fyi/type/calculator?c=320,16,1.2,2800,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
    * Pour tester...
    */
    --step--2: clamp(0.69rem, 0.70rem + -0.04vw, 0.63rem);
    --step--1: clamp(0.83rem, 0.83rem + 0.01vw, 0.84rem);
    --step-0: clamp(1.00rem, 0.98rem + 0.08vw, 1.13rem);
    --step-1: clamp(1.20rem, 1.16rem + 0.19vw, 1.50rem);
    --step-2: clamp(1.44rem, 1.37rem + 0.36vw, 2.00rem);
    --step-3: clamp(1.73rem, 1.61rem + 0.60vw, 2.66rem);
    --step-4: clamp(2.07rem, 1.88rem + 0.95vw, 3.55rem);
    --step-5: clamp(2.49rem, 2.20rem + 1.45vw, 4.74rem);
}

/* Couleurs de texte */
.texte-jaune {
    color: var(--jaune);
}

.texte-orange {
    color: var(--orange-fonce);
}

.texte-vert {
    color: var(--vert-clair);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* font-size: 16px; */
    font-size: var(--step-0);
    font-family: var(--police-texte);
}

h1, h2 {
    font-family: var(--police-titres);
}

/* BitImpact */
.bitimpact {
    background-size: 200% 100%;
    background-image: linear-gradient(
        90deg, rgb(249, 160, 63) 0%,
        rgb(243, 192, 83) 45%, rgb(242, 208, 134) 50%, rgb(243, 192, 83) 55%,
        rgb(249, 160, 63) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-family: var(--police-titres);
    transition: background-position 0.4s ease-in-out;
}

/* Le logo dans les navbar des articles ressort mieux avec un petit ajustement des couleurs */
nav .bitimpact {
    background-image: linear-gradient(
        90deg, var(--orange-fonce) 0%,
        var(--jaune) 45%, rgb(242, 208, 134) 50%, var(--jaune) 55%,
        var(--orange-fonce) 100%
    );
}

.bitimpact:hover {
    background-position: 100% 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 1em;
    padding: 1em;

    color: white;
    background-color: var(--coul-nav);
}

footer .bitimpact {
    background: none;
    color: white;
    text-decoration: none;

    font-size: var(--step-1);
}

footer span {
    font-size: var(--step--1);
}
