@charset "utf8";

:root {
    --couleur: var(--vert-clair);
    --couleur2: var(--vert-fonce);
    --img-fond: url("../img/ecologique/eco-fond.jpg");
}

h1 > span {
    text-shadow: 0px 0px 2px black;
}